:root {
  --black-color: #000000;
  --very-dark-blue: #1D2025;
  --gray_color: #68707D;
  --light_gray: #F7F8FD;
  --orange-color: #FF7D1A;
  --white_background: #FFF;
  --Light-grayish-blue: #F7F8FD;
  --clr-primary-pale-orange: hsl(25, 100%, 94%);
  --clr-dark-grayish-blue: hsl(219, 9%, 45%);
}