:root {
  --black-color: #000000;
  --very-dark-blue: #1d2025;
  --gray_color: #68707d;
  --clr-grayish-blue: hsl(220, 14%, 75%);
  --light_gray: #f7f8fd;
  --orange-color: #ff7d1a;
  --white_background: #fff;
  --Light-grayish-blue: #f7f8fd;
  --clr-primary-pale-orange: hsl(25, 100%, 94%);
  --clr-dark-grayish-blue: hsl(219, 9%, 45%);
  --orange-shadow: 0 15px 15px rgba(255, 125, 26, 0.3);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  --transition: all 0.3s linear;
}


body {
  font-family: var(--ff-primary);
  font-size: var(--fs-size-sm);
  transition: var(--transition);
  margin: 0 auto;
  height: 100vh;
}
.img {
  display: block;
  width: 100%;
}
.main {
  display: grid;
  place-items: center;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 16px;
  margin-bottom: 1.25rem;
}
.btn {
  background: var(--clr-primary-soft-blue);
  padding: 1.2rem 1.2rem;
  color: white;
  border-radius: var(--radius);
  border: transparent;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: 600;
  box-shadow: var(--dark-blue-shadow);
  cursor: pointer;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 95vw;
  }
  .btn {
    padding: 1.2rem 1.5rem;
  }
}